body{
    width:100%;
    height:100%;
    background-image: url("https://v.wpimg.pl/NzQyMTk0JxN-NmJiXwQ2TmJJYjBFRz4TPB5jJAcff0hpQHttXwh3SnxIemRaAX1KZkh6ewdFLBY4F2M-G1c=");
    background-size: cover;
}
.titleReg{
    text-align: center;
    font-size: 30px;
}
#menu {
    border-style: solid;
    border-width: thin;
    border-color: white;
    background-color: rgba(25, 25, 31, 0.4);
    margin-top: 50px;
    margin-bottom: 50px;
    text-align:center;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: normal;
    width: 70%;
    border-radius: 10px;
    color: white;
    display: inline-block;
    align-items: center;
}


.inputyReg{
    margin-left: 5%;
    margin-right: 5%;
}

.przyciskpadReg{

    margin-top:4%;
    margin-bottom:4%;
    margin-right:3%;
}

.przyciskpad2Reg{

    margin-top:4%;
    margin-bottom:4%;
    margin-left:3%;
}

@media(max-width:360px){
    .titlerwdReg{
        font-size: 30px;
    }
}

@media(max-width: 768px){
.rowinput{
    padding:5%;
}
.przyciskpad{
    margin:0 auto;
}}

label { display: block; }
.hint { display: none; color: white; font-style: italic; }
input:focus + .hint { display: inline; }
.register-error{
    color: red;
    font-size: 12px;
    text-align:center;
    width:100%;
}
@media (min-width: 1200px){
    .container {
        width: 100%;
    }}
@media (min-width: 768px){
    .container {
        width: 100%;
    }}

