body{
    width:100%;
    height:100%;
    background-image: url("https://v.wpimg.pl/NzQyMTk0JxN-NmJiXwQ2TmJJYjBFRz4TPB5jJAcff0hpQHttXwh3SnxIemRaAX1KZkh6ewdFLBY4F2M-G1c=");
    background-size: cover;
}
.title{
    text-align: center;
}

.test{
    display: inline-block;
    width:100%;
}

#pola {
    border-style: solid;
    border-width: thin;
    border-color: white;
    background-color: rgba(25, 25, 31, 0.4);
    margin-top: 50px;
    margin-bottom: 50px;
    text-align:center;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: normal;
    width: 70%;
    border-radius: 10px;
    color: white;
    overflow: no-display;
    display: inline-block;
    align-items: center;
}

#daneUzyt{
    float: left;
    padding-right: 100px;
    padding-bottom:14%;
    margin-bottom: 10px;
    margin-left:90px;
    width:40%;
    align-items: center;
    text-align: center;
}

#daneAdr{
    float: right;
    padding-left:100px;
    padding-bottom:6%;
    margin-bottom: 10px;
    margin-right:90px;
    width:40%;
    align-items: center;
}

#przyciski{
    margin-left:auto;
    margin-right: auto;
    display: inline;  clear:both; margin-bottom: 2%;
    width:auto;
    height:auto;
    align-items: center;
    padding:2%;
    text-align: center;
    display: flex; justify-content: center;
}

.button1{
    display: inline-block;
    width:auto;
    margin-right:1%;
    margin-bottom:3%;

}
.button2{
    display: inline-block;
    width:auto;
    margin-left:1%;
    margin-bottom:3%;

}
/*#div{
    padding-bottom: 20%;
    height:max-content;
}*/

label { display: block; }
.hint { display: none; color: white; font-style: italic; }
input:focus + .hint { display: inline; }
.register-error{
    color: red;
    font-size: 12px;
    text-align:center;
    width:100%;
}
aside{
    height: 100%;
}