body{
    width:100%;
    height:100%;
    background-image: url("https://v.wpimg.pl/NzQyMTk0JxN-NmJiXwQ2TmJJYjBFRz4TPB5jJAcff0hpQHttXwh3SnxIemRaAX1KZkh6ewdFLBY4F2M-G1c=");
    background-size: cover;
}
.title{
    text-align: center;
}



#pola {
    border-style: solid;
    border-width: thin;
    border-color: white;
    background-color: rgba(25, 25, 31, 0.4);
    margin-top: 50px;
    margin-bottom: 50px;
    text-align:center;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: normal;
    width: auto;
    border-radius: 10px;
    color: white;
    overflow: auto;
    display: inline-block;

}

#daneUzyt{
    float: left;
    padding-right: 90px;
    padding-bottom:17%;
    margin-bottom: 20px;
    margin-left:80px;
}

#daneAdr{
    float: right;
    padding-left:90px;
    padding-bottom:8%;
    margin-bottom: 20px;
    margin-right:80px;
}

#przycisk{
    margin: 0 auto;

}

/*#div{
    padding-bottom: 20%;
    height:max-content;
}*/

label { display: block; }
.hint { display: none; color: white; font-style: italic; }
input:focus + .hint { display: inline; }
.register-error{
    color: red;
    font-size: 12px;
}