body{
    width:100%;
    height:100%;
    background-image: url("https://v.wpimg.pl/NzQyMTk0JxN-NmJiXwQ2TmJJYjBFRz4TPB5jJAcff0hpQHttXwh3SnxIemRaAX1KZkh6ewdFLBY4F2M-G1c=");
    background-repeat: no-repeat;
    background-size: cover;

}
.title{
    text-align: center;
    font-size: 30px;

}

#pola {
    border-style: solid;
    border-width: thin;
    border-color: white;
    background-color: rgba(25, 25, 31, 0.4);
    margin-top: 10%;
    /*margin-bottom: auto;*/

    margin-left: 38%;
    margin-right: 38%;
    font-weight: normal;
    width: 28%;
    border-radius: 10px;
    color: white;
    display: inline-block;
    align-items: center;
}
.przyciskipad{
    margin-bottom:2%;

}
/*@media(max-width: 768px){
    .rowinput{
        padding:5%;
    }}*/

@media (min-width: 1200px){
    .container {
        width: 100%;
    }}
@media (min-width: 768px){
    .container {
        width: 100%;
    }}

#errorLoginIsEmpty{
    color: red;
    display: none;
}
#errorPasswordIsEmpty{
    color: red;
    display:none;
}
#errorLoginIsWrong{
    color: red;
    display: none;
}
#errorPasswordIsWrong{
    color: red;
    display:none;
}
.pola2{
    margin-left: 5%;
}